<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-striped text-centre">
                
                <thead>
                  <tr>
                    <th scop="col">Id</th>
                    <th scop="col">First Name</th>
                    <th scop="col">Last Name</th>
                    <th scop="col">Middile Name</th>
                    <th scop="col">Age</th>
                    <th scop="col">Gender</th>
                    <th scop="col">Email</th>
                    <th scop="col">Phone No</th>
                   
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of user.users">
                    <td>{{i.id}}</td>
                    <td>{{i.firstName}}</td>
                    <td>{{i.lastName}}</td>
                    <td>{{i.maidenName}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                  </tr>
                  
                </tbody>
             
          </table>
        </div>
    </div>
</div>


